Repository ndricimrr/carcompanion-website, pull requests merged in 2020-07, with the labels that each got.

#42 Create question view ui
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/AnswerCard.js
  frontend/src/components/AnswerForm.js
  frontend/src/components/QuestionDetail.js
  frontend/src/views/QuestionView.js
Labels: front-end

#44 Connected endpoint with find-car front-end tab
  frontend/src/components/CarBox.js
  frontend/src/services/CarService.js
  frontend/src/views/FindCarGridView.js
Labels: front-end

#45 Add login button and fix padding to body structure
  frontend/src/App.js
  frontend/src/components/Header.js
  frontend/src/components/Page.js
  frontend/src/index.html
  frontend/src/views/UserLoginView.js
Labels: front-end

#47 21 create endpoint to answers of a question
  backend/src/controllers/question.js
  backend/src/models/question.js
  backend/src/routes/questions.js
  frontend/src/services/QuestionService.js
  frontend/src/views/AskQuestionForm.js
Labels: server

#60 18 create list of questions
  backend/src/models/freelancer.js
  frontend/src/App.js
  frontend/src/components/Question.js
  frontend/src/views/CommunityView/AskQuestionForm.js
  frontend/src/views/CommunityView/CommunityView.css
  frontend/src/views/CommunityView/CommunityView.js
  frontend/src/views/CommunityView/FullScreenDialog.js
  frontend/src/views/CommunityView/QuestionsListView.js
Labels: front-end

#62 49 connect question and answers endpoint to community
  frontend/src/App.js
  frontend/src/components/AnswerCard.js
  frontend/src/components/AnswerForm.js
  frontend/src/components/Question.js
  frontend/src/components/QuestionDetail.js
  frontend/src/views/CommunityView/AskQuestionForm.js
  frontend/src/views/CommunityView/CommunityView.js
  frontend/src/views/CommunityView/FullScreenDialog.js
  frontend/src/views/CommunityView/QuestionsListView.js
  frontend/src/views/MovieDetailView.js
  frontend/src/views/QuestionView.js
Labels: enhancement, front-end

#63 58 add ability to search for question
  frontend/src/views/CommunityView/CommunityView.js
  frontend/src/views/CommunityView/QuestionsListView.js
  package.json
Labels: front-end

#67 Added Request Page
  frontend/src/App.js
  frontend/src/components/Header.js
  frontend/src/views/RequestView/RequestContent.js
  frontend/src/views/RequestView/RequestListView.js
Labels: front-end

#65 51 create car description page
  frontend/src/App.js
  frontend/src/views/CarDescriptionView.css
  frontend/src/views/CarDescriptionView.js
Labels: front-end

#64 Create freelancer description page
  backend/src/models/freelancer.js
  frontend/src/App.js
  frontend/src/components/Freelancer.js
  frontend/src/views/AddFreelancerView.js
  frontend/src/views/CarOwnerUserProfile.js
  frontend/src/views/FreelancerDescriptionView.css
  frontend/src/views/FreelancerDescriptionView.js
Labels: front-end

#46 Update Post Car Page
  frontend/src/App.js
  frontend/src/components/PostCarSelect.js
  frontend/src/views/PostCarSelectView.js
  frontend/src/views/PostCarView.css
  frontend/src/views/PostCarView.js
  frontend/src/views/SellAdvertiseView.js
Labels: front-end

#66 52 modify ui register page
  frontend/src/App.js
  frontend/src/components/CarOwnerForm.js
  frontend/src/components/FreelancerForm.js
  frontend/src/views/RegisterView.js
Labels: front-end

#61 List of Requests: 37
  backend/src/controllers/request.js
  backend/src/models/request.js
  backend/src/models/user.js
  backend/src/routes/request.js
  frontend/src/components/PostCarSelect.js
  frontend/src/services/RequestService.js
  frontend/src/views/PostCarSelectView.js
Labels: server

#84 Add Capability to Switch Between Profiles
  backend/src/controllers/auth.js
  backend/src/controllers/car.js
  backend/src/controllers/freelancer.js
  backend/src/models/freelancer.js
  backend/src/models/user.js
  backend/src/routes/auth.js
  frontend/package.json
  frontend/src/App.js
  frontend/src/assets/driver.svg
  frontend/src/assets/mechanic.svg
  frontend/src/components/AlertButton.js
  frontend/src/components/CarOwnerForm.js
  frontend/src/components/ExtendProfileForms/CarOwnerForm.js
  frontend/src/components/ExtendProfileForms/FreelancerForm.css
  frontend/src/components/ExtendProfileForms/FreelancerForm.js
  frontend/src/components/Freelancer.js
  frontend/src/components/FreelancerForm.js
  frontend/src/components/UserSignup.js
  frontend/src/services/CarService.js
  frontend/src/services/HttpService.js
  frontend/src/services/UserService.js
  frontend/src/views/ExtendProfile/ExtendProfile.css
  frontend/src/views/ExtendProfile/ExtendProfileView.js
  frontend/src/views/FreelancerDescriptionView.js
  frontend/src/views/HomePage.js
  frontend/src/views/RegisterView.js
  frontend/src/views/UserSignupView.js
  frontend/webpack.common.js
Labels: enhancement, front-end, server

#100 Create and connect request endpoint
  backend/src/api.js
  backend/src/controllers/request.js
  backend/src/models/request.js
  backend/src/routes/request.js
  frontend/src/components/Footer.js
  frontend/src/components/Header.css
  frontend/src/components/Header.js
  frontend/src/index.html
  frontend/src/services/RequestService.js
  frontend/src/views/FreelancerDescriptionView.css
  frontend/src/views/FreelancerDescriptionView.js
  frontend/src/views/RequestView/RequestListView.js
Labels: front-end, server
